.search-container{
  display: flex;
  justify-content: center;
  height: 2.7rem;
  width: 100%;
}
.ip-input-field{
  width: 80%;
  height: 100%;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-top-left-radius: 0.75rem ;
  border-bottom-left-radius: 0.75rem;
  padding: 0.5rem;
}
.ip-input-field::placeholder{
  font-size: 1rem;

}
.icon-arrow-button{
  width: 12%;
  height: 100%;
  background-color:black ;
  border: none;
  border-top-right-radius: 0.75rem ;
  border-bottom-right-radius: 0.75rem;
  transition: 0.25s;
}
.icon-arrow-button:hover{
  background-color: hsl(0, 0%, 17%);
  cursor: pointer;
}
.ip-input-field:hover{
  cursor: pointer;
}
@media screen and (min-width : 768px) {
  header{
    background-image: url(../images/pattern-bg-desktop.png);
  }
  .ip-input-field{
    width: 44%;
  }
  .icon-arrow-button{
    width: 4%;
  }
  ul{
    flex-direction: row;
    height: 7rem;
    justify-content: center;
    padding: 2rem 0;
    box-sizing: border-box;
    gap: 0;
  }
  ul li:not(:last-child) {
    border-right: 2px solid hsl(0, 0%, 59%); 
  }
  li{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.25rem;
    box-sizing: content-box;
  }
  section{
    top: 30%;
  }
  
}