*{
  box-sizing: border-box;
}

body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: Rubik;
}
header{
  margin: 0;
  background-image: url(../images/pattern-bg-mobile.png);
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  z-index: 100;
}
h1{
  padding: 0;
  margin: 1.25rem 0 0 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top : 25%;
  z-index: 100;
  visibility: hidden;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 3px  rgba(0, 0, 0, 0.257);
  box-sizing: content-box;
  padding: 1rem 2.75rem;
  border-radius: 10px;
  gap: 2rem;
}
li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
h5{
  margin: 0;
  color: hsl(0, 0%, 59%);
}
li span{
  font-weight: 700;
  font-size: 1.25rem;
}